@import "tailwindcss";

* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-green: #22c55e;
  --dark-green: #16a34a;
  --light-green: #dcfce7;
  --accent-green: #15803d;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}